#join-game {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    height: 100px;
}

#game-list {
  border-color: #505050;
  border-style: solid;
  border-width: 1px;
}

.odd {
  background-color: #80808030
}

.highlight {
  background-color: #80808080;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-card-title {
  display: flex;
}
