#join-game {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

#game-list {
  border-color: #505050;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  flex: 1 0 auto;
  height: 0;
}

.odd {
  background-color: #80808030
}

.highlight {
  background-color: #80808080;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-card-title {
  display: flex;
}

mat-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
